.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 119px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 411px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 90px 30px 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 6rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 13px 187px 0 257px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 13px 181px 0 251px;
}

.u-section-1 .u-form-1 {
  height: 118px;
  width: 601px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
    width: auto;
    margin-top: -46px;
    margin-right: -140px;
    margin-left: -70px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 87px;
    margin-left: 157px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 81px;
    margin-left: 151px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 1px;
    margin-right: 119px;
    margin-left: 136px;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    margin-top: -206px;
    margin-right: -110px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 36px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 55px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 30px;
    margin-right: 39px;
    margin-left: 39px;
    width: 601px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 591px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 245px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.6875rem;
    margin-top: -110px;
    margin-right: -245px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 23px;
    margin-right: -197px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
    margin-right: -174px;
    margin-left: 61px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 12px;
    margin-right: -235px;
    margin-left: 0;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 77px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 105px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: -205px;
    margin-right: -105px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-right: -81px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-right: -105px;
    margin-left: -10px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 11px;
    margin-right: -105px;
    margin-left: -10px;
    width: 320px;
  }
}